h1
{
	text-align: center;
}




#btnQues
{
	margin-bottom: 50px;
}

table
{
	width: 1366px;
	height: 133px;
	margin-bottom: 50px;
	
}

#test
{
	width: 683px;
	

}

#test1
{
	width: 683px;
}

#test2
{
	width: 683px;

}

#test3
{
	width: 683px;

}

#plus
{
	width: 400px;
	float: right;
}

#moins
{
	width: 400px;
}